<!DOCTYPE html>
<html>

<head>

    <title>yokoMono</title>

    <link rel="stylesheet" type="text/css" href="assets/yokomono.css">

    <link rel="shortcut icon" href="assets/favicon.png">

</head>

<body>

    <iframe src="yokomono.html" allow="autoplay"></iframe>

</body>

</html>
